* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black
}

.container {
    width: 1920px;
    margin: auto;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    padding: 15px 0 15px 130px;
}

.header ul {
    padding-right: 50px;
}

.header li {
    float: left;
    list-style: none;

}

.header li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(61, 61, 61);
    text-decoration: none;
    margin-right: 30px;
}

.header li a:hover {}

.zone1 {
    background-image: url(./banner.jpg);
    height: 750px;
    padding-top: 150px;
    padding-left: 100px;
    box-sizing: border-box;
}

.zone1 h2 {
    font-family: BowlbyOne;
    font-weight: 400;
    font-style: normal;
    font-size: 125px;
    color: white;
    margin-bottom: -70px;
    padding-left: 50px;
}

.zone1 p {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    padding-left: 50px;
}

.zone2 {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.z201 {
    width: 355px;
    height: 490px;
    background-color: rgb(240, 115, 38);
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

.z201 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.z201 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.z201 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: white;
    /* How to contrl the line spacing in p? */

}

.z201 p img {
    margin-top: 60px;
}

/* .z202 */
.z202 {
    width: 355px;
    height: 490px;
    background-color: rgb(235, 21, 21);
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

.z202 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.z202 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.z202 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: white;
    /* How to contrl the line spacing in p? */

}

.z202 p img {
    margin-top: 60px;
}

/* .z203 */
.z203 {
    width: 355px;
    height: 490px;
    background-color: rgb(50, 50, 47);
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

.z203 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.z203 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.z203 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: white;
    /* How to contrl the line spacing in p? */

}

.z203 p img {
    margin-top: 60px;
}

/* .z204 */
.z204 {
    width: 355px;
    height: 490px;
    background-color: rgb(96, 96, 95);
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
}

.z204 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.z204 h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.z204 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: white;
    /* How to contrl the line spacing in p? */

}

.z204 p img {
    margin-top: 60px;
}

/* Zone 3 */

.zone3 {
    background-color: rgb(223, 220, 220);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.zone3 h3 {
    color: rgb(228, 104, 22);
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 30px;
}

.zone3 p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 10px;
}

.zone3 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    width: 200px;
    height: 60px;
    margin: auto;
    background-color: rgb(240, 115, 38);
    line-height: 60px;
    margin-top: 50px;

}

/* Zone 4 */

.zone4 {
    padding: 75px 0;
}

.z4upper {
    display: flex;
    justify-content: center;
}

.z401 {
    width: 450px;
    height: 450px;
    background-image: url(./photo1.jpg);
}

.z402 {
    width: 450px;
    height: 450px;
    background-color: rgb(232, 229, 229);
    text-align: center;
    padding-top: 130px;
    box-sizing: border-box;

}

.z402 h4 {
    font-family: "Bebas Neue";
    font-size: 36px;
    font-weight: 800;
    font-style: normal;
}

.z402 p {
    padding-top: 20px;

}

.z402 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(85, 85, 85)
}

.z403 {
    width: 450px;
    height: 450px;
    background-image: url(./photo2.jpg);
}

.z4lower {
    display: flex;
    justify-content: center;

}

.z404 {
    width: 450px;
    height: 450px;
    background-color: rgb(232, 229, 229);
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
}

.z404 p img {}

.z404 h4 {
    font-family: "Bebas Neue";
    font-size: 36px;
    font-weight: 800;
    font-style: normal;
    padding-top: 20px;

}

.z404 p {
    font-family: arial;
    font-size: 16pt;
    padding-top: 10px;

}

.z404 a {
    /* height: 150px; 為什麼a下 height沒作用?*/
    /* padding-bottom: 15px; 下 padding-bottom也沒作用*/
    line-height: 40px;
    /* 最後試這指令會下推 */
    color: rgb(85, 85, 85);
}

.z405 {
    width: 450px;
    height: 450px;
    background-image: url(./photo3.jpg);
}

.z405 p img {}

.z406 {
    width: 450px;
    height: 450px;
    background-color: rgb(232, 229, 229);
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
}

.z406 p img {}

.z406 h4 {
    font-family: "Bebas Neue";
    font-size: 36px;
    font-weight: 800;
    font-style: normal;
    padding-top: 20px;
}

.z406 p {
    font-family: arial;
    font-size: 16pt;
    padding-top: 10px;
}

.z406 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(85, 85, 85);
    line-height: 40px;
}

/* Zone 5 */
.zone5 {
    background-image: url(./handbg.jpg);
    background-repeat: no-repeat;
    height: 900px;
    margin: auto; 
    display: flex;
    justify-content: center;
 }

.zone5 h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(105, 104, 104);
    margin-bottom: 25px;

}

.zone5 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
    
}

.box5 {
    width: 1280px;
    height:500px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 380px;
    box-sizing: border-box;

}

.z5L {
    background-color: white;
    width: 400px;
    height: 400px;
    border: 5px;
    padding-top: 40px;
    box-sizing: border-box;
    border: 2px solid rgb(198, 198, 198);


}

.z5M {
    background-color: white;
    width: 400px;
    height: 400px;
    padding-top: 40px;
    box-sizing: border-box;
    border: 2px solid rgb(198, 198, 198);

}

.z5R {
    background-color: white;
    width: 400px;
    height: 400px;
    padding-top: 40px;
    box-sizing: border-box;
    border: 2px solid rgb(198, 198, 198);
}

/* footer */
.footer{
    background-color: rgb(55, 53, 53);
    text-align: center;
    padding:60px 700px 60px 700px;
}
.footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    line-height: 30px;

}

.footer p a{
    color:cornflowerblue
}





/* Font for .zone1 h2 */

@font-face {
    font-family: "BowlbyOne";
    src: url(./BowlbyOne-Regular.ttf);
}

/* --------------------- */

@font-face {
    font-family: "Bebas Neue";
    src: url(./BebasNeue-Regular.ttf);

}